<app-navigationbar></app-navigationbar>
<div class="container" style="padding-top:4%">
  <div class="row">
    <div class="col">
      <div class="starter-template text-center">
        <h1>Public Broadcasts</h1>
        <hr style="width:50%">
        <!-- TO DO: FOR LOOP FOR MESSAGES -->
          <div class="card mx-auto" style="width:70%;">
            <div class="lead card-body">
              <a class="float-left">TMAG741</a>
              <a class="float-right">1:33 AM 30/05/2019</a><br>
              <p class="text-left">Lorem ipsum dolor sit amet 
              consectetur adipisicing elit. Quas minus explicabo ipsam molestias. Suscipit eum nisi sequi earum magni nesciunt!</p>         
            </div>
          </div>
          <br>

          <div class="card mx-auto" style="width:70%;">
            <div class="lead card-body">
              <a class="float-left">TMAG741</a>
              <a class="float-right">1:33 AM 30/05/2019</a><br>
              <p class="text-left">Lorem ipsum dolor sit amet
                consectetur adipisicing elit. Quas minus explicabo ipsam molestias. Suscipit eum nisi sequi earum magni nesciunt!
              </p>
            </div>
          </div>

      </div>
    </div>
  </div>
</div>