<div class="container-fluid" style="padding-top:4%">
  <div class="row">
    <div class="col">
      <div class="starter-template text-center">
        <!-- <app-user-list></app-user-list> -->
        <h1 style="padding-right:1%;display:inline">Public Broadcasts</h1>
        <span *ngIf="messageLoading" class="spinner-border" style="animation-play-state:initial;" role="status">
          <span class="sr-only">Loading...</span>
          <span class="glyphicon glyphicon-repeat"></span>
        </span>

        <hr style="width:50%">
        <div class="mx-auto" style="width:50%;">
          <div class="input-group mb-3">
            <textarea class="form-control" (keydown.enter)="onKeydown($event)" placeholder="Send a broadcast message"
              [formControl]="message" rows="3"></textarea>
            <div class="input-group-append">
              <button class="btn btn-outline-secondary"
                [ngClass]="{'btn-outline-success':message.valid, 'btn-outline-secondary': message.invalid || loading}"
                (click)="sendMessage()" [disabled]="message.value == null ||message.value == '' || loading"
                type="button">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Send&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
              </button>
            </div>
          </div>
        </div>

        <!-- TO DO: FOR LOOP FOR MESSAGES -->
        <ng-template [ngIf]="!messageLoading">
          <ng-template [ngIf]="!isSearching">
            <div *ngFor="let tuple of messageList; let i = index">
              <div class="card mx-auto" style="width:50%;height:200px;">
                <div class="lead card-body" style="position: relative" [ngClass]="{'overflow':tuple[1].length > 200}">
                  <a class="float-left"><b>{{ tuple[0]  | uppercase }}</b></a>
                  <a class="float-right"><b>{{ tuple[2]  | date :'h:mm a dd/MMM/yy' | uppercase }}</b></a><br>
                  <p class="text-left"> {{ tuple[1] }}</p>


                  <button class="btn btn-outline-info btn-sm float-left"
                    (click)="showMarkDown(tuple[1])">Markdown</button>
                  <button class="btn btn-outline-danger btn-sm float-left mx-2" (click)="favouriteMessage(i)"
                    [disabled]="favLoading">Favourite ❤️<span *ngIf="favLoading"
                      class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span></button>
                  <button class="btn btn-dark btn-sm float-right" (click)="blockMessage(i)"
                    [disabled]="blockLoading">Block ⛔<span *ngIf="blockLoading" class="spinner-border spinner-border-sm"
                      role="status" aria-hidden="true"></span></button>


                </div>

              </div>
              <br>
            </div>
          </ng-template>
          <ng-template [ngIf]="isSearching">
            <div class="lead text-center" *ngIf="searchZero">
              <p> Search found zero match for {{searched }}</p>
            </div>
            <div *ngFor="let tuple of searchList;let i = index">
              <div class="card mx-auto" style="width:50%;height:200px;">
                <div class="lead card-body" [ngClass]="{'overflow':tuple[1].length > 200}">
                  <a class="float-left"><b>{{ tuple[0]  | uppercase }}</b></a>
                  <a class="float-right"><b> {{ tuple[2]  | date :'h:mm a dd/MMM/yy' | uppercase }} </b></a><br>
                  <p class="text-left"> {{ tuple[1] }}</p>
                  <button class="btn btn-outline-info btn-sm float-left"
                    (click)="showMarkDown(tuple[1])">Markdown</button>
                  <button class="btn btn-outline-danger btn-sm float-left mx-2" (click)="favouriteMessage(i)"
                    [disabled]="favLoading">Favourite ❤️<span *ngIf="favLoading"
                      class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span></button>
                  <button class="btn btn-dark btn-sm float-right" (click)="blockMessage(i)"
                    [disabled]="blockLoading">Block ⛔<span *ngIf="blockLoading" class="spinner-border spinner-border-sm"
                      role="status" aria-hidden="true"></span></button>

                </div>

              </div>
              <br>
            </div>
          </ng-template>
        </ng-template>
        <br>
      </div>
    </div>
  </div>
</div>

<button class="btn btn-dark text-center" style="bottom:2%;right:1%;position:fixed;" (click)="backToTop()">
  <h3>&nbsp;↑&nbsp;</h3>
</button>
<button class="btn btn-dark text-center" [disabled]="messageLoading" style="bottom:2%;right:5%;position:fixed;"
  (click)="updateList()">
  <h3>&nbsp;⟳&nbsp;</h3>
</button>
<!-- Mark down modal -->
<div *ngIf="showMarked" (click)="closeMarkDown()" class="modal" [ngStyle]="{'display': modalMarked}">
  <div class="modal-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col" style="padding:0 0 0 0;">
          <div class="card">
            <div class="card-body">
              <markdown [data]="markedDownMessage"></markdown>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div *ngIf="notify" class="modal" [ngStyle]="{'display': toggleModal}">
  <div class="modal-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <app-privatedata></app-privatedata>
        </div>
      </div>
    </div>
  </div>
</div>