
<div class="container" style="padding-top:5%">
  <div class="row">
    <div class="col">
      <div class="starter-template text-center">
        <h1>Public Broadcasts</h1>
        <hr style="width:50%">
        <div class="mx-auto" style="width:60%;padding-left:2%">
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Send a broadcast message"
              aria-label="Recipient's username" aria-describedby="basic-addon2">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="button">&nbsp;&nbsp;&nbsp;Send&nbsp;&nbsp;&nbsp;</button>
            </div>
          </div>
        </div>
        <!-- TO DO: FOR LOOP FOR MESSAGES -->
        <div class="card mx-auto" style="width:70%;">
          <div class="lead card-body">
            <a class="float-left">TMAG741</a>
            <a class="float-right">1:33 AM 30/05/2019</a><br>
            <p class="text-left">Lorem ipsum dolor sit amet
              consectetur adipisicing elit. Quas minus explicabo ipsam molestias. Suscipit eum nisi sequi earum magni
              nesciunt!</p>
          </div>
        </div>
        <br>


        <div class="card mx-auto" style="width:70%;">
          <div class="lead card-body">
            <a class="float-left">TMAG741</a>
            <a class="float-right">1:33 AM 30/05/2019</a><br>
            <p class="text-left">Lorem ipsum dolor sit amet
              consectetur adipisicing elit. Quas minus explicabo ipsam molestias. Suscipit eum nisi sequi earum magni
              nesciunt!
            </p>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal" [ngStyle]="{'display': toggleDecrypt}">
  <div class="modal-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <span class="close" style="cursor: pointer;" (click)="toggleDecrypt='none'">&times;</span>
          <div class="text-center">
            <p class="lead" style="padding-top:5%">
              It seems like you have private data in the login server
            </p>
          </div>
          <form (ngSubmit)="decryptSubmit()" [formGroup]="dKeyForm">
            <div class="form-group">
              <div class="input-group mb-3">
                <input type="text" class="form-control" [ngClass]="{'is-invalid':wrongKey}" placeholder="{{ pholder }}"
                  formControlName="Dkey">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary " [ngClass]="{'btn-outline-danger':wrongKey}"
                    type="submit">&nbsp;&nbsp;&nbsp;Decrypt&nbsp;&nbsp;&nbsp;</button>
                </div>

              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- No Private Data -->
<div class="modal" [ngStyle]="{'display': toggleEncrypt}">
  <div class="modal-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <span class="close" style="cursor: pointer;" (click)="toggleEncrypt='none'">&times;</span>
          <div class="text-center">
            <p class="lead" style="padding-top:5%">
              It seems like you have don't private data in the login server
            </p>
          </div>
          <form (ngSubmit)="onSubmit()" [formGroup]="eKeyForm">
            <div class="form-group">
              <div class="input-group mb-3">
                <input type="text" class="form-control" [ngClass]="{'is-invalid':wrongKey}" placeholder="Encryption Key"
                  formControlName="newEKey">
                <input type="text" class="form-control" [ngClass]="{'is-invalid':wrongKey}" placeholder="Enter your Encryption key again"
                  formControlName="EKeyAgain">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary " [ngClass]="{'btn-outline-danger':wrongKey}"
                    type="submit">&nbsp;&nbsp;&nbsp;Encrypt&nbsp;&nbsp;&nbsp;</button>
                </div>

              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>