<div class="container-fluid" style="padding-top:4%">
  <div class="row">
    <div class="col">
      <div class="starter-template text-center">
        <!-- <app-user-list></app-user-list> -->

        <h1 (click)="fetchPublicMessages()">Public Broadcasts</h1>
        <hr style="width:50%">
        <div class="mx-auto" style="width:50%;">
          <div class="input-group mb-3">
            <!-- <input (keydown.enter)="onKeydown($event)" type="text-area" class="form-control lead"
              placeholder="Send a broadcast message" aria-label="Recipient's username" aria-describedby="basic-addon2"
              [formControl]="message"> -->
                                <textarea class="form-control" (keydown.enter)="onKeydown($event)" placeholder="Send a broadcast message"  [formControl]="message" rows="3"></textarea>
            <div class="input-group-append">
              <button class="btn btn-outline-secondary"
                [ngClass]="{'btn-outline-success':message.valid, 'btn-outline-secondary': message.invalid || loading}"
                (click)="sendMessage()" [disabled]="message.value == null ||message.value == '' || loading"
                type="button">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Send&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
              </button>
            </div>
          </div>
        </div>
        <!-- TO DO: FOR LOOP FOR MESSAGES -->
        <span *ngIf="messageLoading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        <ng-template [ngIf]="!messageLoading">
          <ng-template [ngIf]="!isSearching">
            <div *ngFor="let tuple of messageList ">
              <div class="card mx-auto" style="width:50%;">
                <div class="lead card-body">
                  <a class="float-left">{{ tuple[0]  | uppercase }}</a>
                  <a class="float-right">{{ tuple[2]  | date :'h:mm a dd/MMM/yy' | uppercase }}</a><br>
                  <p class="text-left"> {{ tuple[1] }}</p>
                  <button class="btn btn-secondary btn-sm float-left" (click)="showMarkDown(tuple[1])">Markdown</button>
                </div>
              </div>
              <br>
            </div>
          </ng-template>
          <ng-template [ngIf]="isSearching">
            <div class="lead text-center" *ngIf="searchZero">
              <p> Search found zero match for {{searched }}</p>
            </div>
            <div *ngFor="let tuple of searchList ">
              <div class="card mx-auto" style="width:50%;">
                <div class="lead card-body">
                  <a class="float-left">{{ tuple[0]  | uppercase }}</a>
                  <a class="float-right">{{ tuple[2]  | date :'h:mm a dd/MMM/yy' | uppercase }}</a><br>
                  <p class="text-left"> {{ tuple[1] }}</p>
                  <button class="btn btn-secondary btn-sm float-left" (click)="showMarkDown(tuple[1])">Markdown</button>
                </div>
              </div>

              <br>
            </div>
          </ng-template>
        </ng-template>
        <br>
      </div>
    </div>
  </div>
</div>
<!-- Mark down modal -->
<div *ngIf="showMarked" (click)="closeMarkDown()" class="modal" [ngStyle]="{'display': modalMarked}">
  <div class="modal-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col" style="padding:0 0 0 0;">
          <div class="card">
            <div class="card-body">
            <markdown ngPreserveWhitespaces>
              {{markedDownMessage}}
            </markdown>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div *ngIf="notify" class="modal" [ngStyle]="{'display': toggleModal}">
  <div class="modal-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <app-privatedata></app-privatedata>
        </div>
      </div>
    </div>
  </div>
</div>