<div class="container">
    <!-- TO DO: FORMS HANDLING -->
    <div class="row" style="padding-top:15%">
        <div class="col">
        <div *ngIf="badAccessMessage" class="card mx-auto" style="width:30%">
            <div class="lead card-body text-center">
                User bad access. Redirected
            </div>
        </div>
        <br>
        <div class="card mx-auto" style="width:30%">
            <div class="card-body">
                <h3 class="text-center">Login to chat</h3>
                <form (ngSubmit)="onSubmit()" [formGroup]="LoginForm">
                    <div class="form-group">
                        <label>Username</label>
                        <input type="text" class="form-control" [ngClass]="{'is-invalid':wrongLogin}" placeholder="Username" formControlName="username"
                            required>
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input (keydown.enter)="onSubmit()" type="password" class="form-control" [ngClass]="{'is-invalid':wrongLogin}" placeholder="Password" formControlName="password"
                            required>
                    </div>
                    <div class="alert alert-danger" *ngIf="wrongLogin" role="alert">
                       No match for username/password
                    </div>
                    <div class="float-left" style="padding-top:10%">
                        <button type="submit" class="btn btn-primary mx-auto" [disabled]="LoginForm.invalid">&nbsp;&nbsp;Submit&nbsp;&nbsp;
                            <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
</div>

    </div>
</div>