<!-- <ng-template> -->
<span class="close" style="cursor: pointer;" (click)="toggleDecrypt='none'">&times;</span>
<div class="text-center">
  <p class="lead" style="padding-top:5%">
    {{ dataReponse }}
  </p>
</div>
<form (ngSubmit)="decryptSubmit()" [formGroup]="eKeyForm">
  <div class="form-group">
    <div class="input-group mb-3">


      <input type="text" *ngIf="decryptForm" class="form-control" [ngClass]="{'is-invalid':wrongKey}"
        placeholder="{{ pholder }}" formControlName="Dkey">


      <input type="text" *ngIf="encryptForm" class="form-control" [ngClass]="{'is-invalid':wrongKey}"
        placeholder="Encryption Key" formControlName="newEKey">
      <input type="text" *ngIf="encryptForm" class="form-control" [ngClass]="{'is-invalid':wrongKey}"
        placeholder="Re-type encryption key" formControlName="EKeyAgain">

      <div class="input-group-append">
        <button class="btn btn-outline-secondary " [ngClass]="{'btn-outline-danger':wrongKey}"
          type="submit">&nbsp;&nbsp;&nbsp;{{ buttonKey }}&nbsp;&nbsp;&nbsp;</button>
      </div>

    </div>
  </div>
</form>
<!-- </ng-template> -->