<!-- <ng-template> -->
<!-- <span class="close" style="cursor: pointer;" (click)="toggleDecrypt='none'">&times;</span> -->
<div class="text-center">
  <p class="lead" style="padding-top:5%" *ngIf="!loading">
    {{ dataResponse }}
  </p>
</div>
<form [formGroup]="eKeyForm" *ngIf="!loading">
  <!-- Has private data  -->
  <div class="text-center" *ngIf="options">
    <button type="button" class="btn btn-outline-success" (click)="NewKey()">New Key</button>
    <span style="padding-left:2%;">
      <button type="button" class=" btn btn-outline-secondary" (click)="DecryptKey()">Decrypt Data</button>
    </span>
  </div>
  <div class="form-group">


    <div class="input-group mb-3" *ngIf="decryptForm">
      <input type="password" class="form-control" [ngClass]="{'is-invalid':wrongKey}" placeholder="{{ pholder }}"
        formControlName="Dkey">
      <div class="input-group-append">
        <button class="btn btn-outline-success " [ngClass]="{'btn-outline-danger':wrongKey}"
          type="button" (click)="decryptSubmit()" [disabled]="eKeyForm.value.Dkey === '' || eKeyForm.value.Dkey === null">&nbsp;&nbsp;&nbsp;{{ buttonKey }}&nbsp;&nbsp;&nbsp;</button>
        <span *ngIf="optionsBack" style="padding-left:2%;">
          <button class="btn btn-outline-secondary" (click)="Back()"> Back </button>
        </span>
      </div>
    </div>
  </div>


  <div *ngIf="encryptForm">
    <!-- Has NO private data  -->
    <input type="password" class="form-control" [ngClass]="{'is-invalid':wrongKey}" placeholder="Encryption Key"
      formControlName="newEKey" required minlength="5">
    <div style="padding-top:2%;">
      <input type="password" class="form-control" [ngClass]="{'is-invalid':wrongKey}" placeholder="Re-type encryption key"
        formControlName="EKeyAgain" required minlength="5">
    </div>
    <div class="text-center" style="padding-top:2%;padding-bottom:2%;">
      <button class="btn btn-outline-success " [ngClass]="{'btn-outline-danger':wrongKey}"
        type="button"(click)="encryptSubmit()" [disabled]="eKeyForm.invalid">&nbsp;&nbsp;&nbsp;{{ buttonKey }}&nbsp;&nbsp;&nbsp;</button>
      <span *ngIf="optionsBack" style="padding-left:2%;">
        <button class="btn btn-outline-secondary" (click)="Back()" > Back </button>
      </span>
    </div>
  </div>


</form>

<div class="d-flex justify-content-center" *ngIf="loading" style="padding-top:20%;padding-bottom:20%">
  <div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>
<!-- </ng-template> -->