<div class="container-fluid" style="padding-top:4%">
  <div class="row h-100">

    <div class="col-3" style="padding-left:5%;padding-top:1%">

      <div class="lead">
        <div class="text-center">
          <h3>Online Users</h3>
          <span *ngIf="listLoading" class="mx-auto spinner-border spinner-border-sm" style="width: 3rem; height: 3rem;"
            role="status" aria-hidden="true"></span>
        </div>
        <div class="mx-auto " style="height:700px;overflow:auto; overflow-x:hidden;">
          <span *ngFor="let user of usersList;let i = index">
            <p style="cursor: pointer;" class="text-center" (click)="messageUser(i)"><b>( {{user.status}} )
                {{user.username | uppercase}}</b> ✎</p>
            <br>
          </span>
        </div>

      </div>

    </div>
    <div class="col-9" style="height:100%;">
      <ng-template [ngIf]="!clickedUser">
        <div class="text-center lead mx-auto">

          <h4 style="padding-top:2%"(click)="loadMessages()">Conversation history</h4>
          <div *ngFor="let message of messageList; let i = index">
            <div class="card mx-auto" style="width:70%">
              <div class="card-body">
                <b class="float-left">{{message[2]|uppercase}} </b>
                <p class="float-right">{{message[3] | date :'h:mm a dd/MMM/yy' | uppercase}}</p><br>
                <p class="float-left">{{message[1]}}</p><br><br>

                  <!-- <button class="btn btn-outline-info btn-sm float-left" (click)="showMarkDown(tuple[1])">Markdown</button>
                  <button class="btn btn-outline-danger btn-sm float-left mx-2" (click)="favouriteMessage(i)"
                    [disabled]="favLoading">Favourite ❤️<span *ngIf="favLoading" class="spinner-border spinner-border-sm" role="status"
                      aria-hidden="true"></span></button>
                  <button class="btn btn-dark btn-sm float-right" (click)="blockMessage(i)" [disabled]="blockLoading">Block ⛔<span
                      *ngIf="blockLoading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span></button> -->

              </div>
              
            </div>
            <br>
          </div>
        </div>
      </ng-template>

      <ng-template [ngIf]="clickedUser">
        <div style="padding-top:20%">
          <div class="card mx-auto" style="width:70%;">
            <div class="card-body text-center">
              <b>
                <h3>
                  Send a message to {{selectedUser.username | uppercase}}
                </h3>
              </b>
            </div>
        <div class="mx-auto" style="width:50%;">
          <div class="input-group mb-3">
            <textarea class="form-control" (keydown.enter)="onKeydown($event)" placeholder="Send a broadcast message"
              [formControl]="message" rows="2"></textarea>
            <div class="input-group-append">
              <button class="btn btn-outline-secondary"
                [ngClass]="{'btn-outline-success':message.valid, 'btn-outline-secondary': message.invalid || loading}"
                (click)="sendMessage()" [disabled]="message.value == null ||message.value == '' || loading" type="button">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Send&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
              </button>
            </div>
          </div>
        </div>
          </div>
        </div>

      </ng-template>

    </div>
  </div>
</div>

<button class="btn btn-dark text-center" style="bottom:2%;right:1%;position:fixed;" (click)="clickedUser=false">
  <h4>History</h4>
</button>
<button class="btn btn-dark text-center" [disabled]="messageLoading" style="bottom:2%;right:8%;position:fixed;"
  (click)="loadMessages()">
  <h4>&nbsp;⟳&nbsp;</h4>
</button>