<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" [ngClass]="{'hideNav': zIndex}">
  <a class="navbar-brand" style="font-size:1.25rem;color:white">CherryPy/Angular</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
    aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <!-- TO DO: BLOCKING AT ACCOUNT SETTINGS -->
      <li class="nav-item pointer"><a routerLink="/broadcast" routerLinkActive="active" class="nav-link">Home</a></li>
      <li class="nav-item pointer"><a routerLink="/message" routerLinkActive="active" class="nav-link">Messages</a></li>
      <li class="nav-item pointer"><a routerLink="/group" routerLinkActive="active" class="nav-link">Groups</a></li>
      <li class="nav-item pointer"><a routerLink="/reports" routerLinkActive="active" class="nav-link">Reports</a></li>
    </ul>
    <a class="navbar-brand" style="font-size:1.25rem;color:white">{{user | uppercase}}</a>

    <select (click)="changedStatus()" [formControl]="status" class="form-control form-control-md" style="width:7%">
      <option [value]="selected" *ngFor="let selected of statusList">{{selected}}</option>
    </select>

    &nbsp;
    &nbsp;
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" (keydown.enter)="onKeydown($event)" [formControl]="search" type="text" placeholder="Search User" aria-label="Search">
      <button class="btn btn-outline-success mr-2 my-2 my-sm-0"  (click)="searchUser()" type="button">Search</button>
      <button class="btn btn-outline-secondary my-2 my-sm-0"  (click)="logout()" type="button">Logout</button>
    </form>
  </div>
</nav>